# Production units
Django
django-cors-headers
djangorestframework
coreapi
Pillow
python-dotenv
psycopg2

# Development dependencies
pip-tools
pytest
pytest-cov
pytest-django
pytest-sugar
pre-commit
flake8
black
bandit